*{
    margin: 0px;
}

body{

}

.heading{
    width: 100%;
    height: 100px;
    background-color: #2aabd2;
}
.heading p{
    float: left;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 30px;
}
.login{
    background-color: yellow;
    padding: 5px 10px 5px 10px;
    text-align: right;
    float:right;
}

.heading-extra{
    width: 100%;
    background-color: #5bc0de;
}
.role{
    padding-left: 20px;
}

.content{
    height: 500px;
    background-color: #4aaf51;
}

.nav{
    width: 15%;
    height: 100%;
    float: left;
    background-color: yellow;
}

.content-main{
    width: 85%;
    height: 100%;
    float: right;
    background-color: #ffffff;
}

.nav-nav p{
    padding-left: 20px;
    background-color: #5bc0de;
    border-top:1px solid white;
    border-bottom:1px solid white;
}

.nav-nav ul{
    background-color: white;
    display: none;
}

.footer{
    height: 100px;
    text-align: center;
    background-color: #9d9d9d;
}
.content-main-table {
    width: 80%;
    float: right;
}
#left-column {
    width: 20%;
    float: left;
}
#form-info {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 10px;
    float: right;
}

select > option {
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
