*{
    margin: 0px;
}

body{
    background-color: #202020;
}

.heading{
    width: 100%;
    height: 100px;
    background-color: #00CA79;
}

.heading-name{
    width: 15%;
    height: 100%;
    background-color: #202020;
    color: white;
    float: left;
    font-size: 25px;
}

.heading-name p{
    padding-top: 30px;
    text-align: center;
}

.login{
    margin-top: 25px;
    background-color: yellow;
    padding: 5px 10px 5px 10px;
    text-align: right;
    float:right;
}

.content{
    height: 500px;
    background-color: #4aaf51;
}

.welcome{
    color: white;
    background-color: #4380B8;
    padding: 10px 5px 10px 5px;
}

.time{
    text-align: right;
}

.nav{
    width: 15%;
    height: 100%;
    float: left;
    background-color: yellow;
}

.content-main{
    width: 85%;
    height: 100%;
    float: right;
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: #F3F3F3;
=======
>>>>>>> abbbafbba2982aba2eaa1bea03eae9e97cc4a340
=======

    background-color: #F3F3F3;
=======
>>>>>>> b11381169bc275fb74ce19a5c60670fe1b635cde
>>>>>>> 8600b535d1660714096ff7b77a3a0c475331295d
}

.nav-nav p{
    padding-left: 20px;
    background-color: #5bc0de;
    border-top:1px solid white;
    border-bottom:1px solid white;
}

.nav-nav ul{
    background-color: white;
    display: none;
}

.footer{
    height: 100px;
    text-align: center;
    background-color: #9d9d9d;
}

.content-main-table {
    width: 80%;
    float: right;
}

#left-column {
<<<<<<< HEAD

=======
    width: 20%;
    background-color: #F3F3F3;
    float: left;
<<<<<<< HEAD
>>>>>>> abbbafbba2982aba2eaa1bea03eae9e97cc4a340
=======
<<<<<<< HEAD
    /*width: 20%;*/
    /*float: left;*/
=======
>>>>>>> b11381169bc275fb74ce19a5c60670fe1b635cde
>>>>>>> 8600b535d1660714096ff7b77a3a0c475331295d
}
#form-info {
    width: 80%;
    margin-top: -10px;
    margin-bottom: 10px;
    float: right;
}

select > option {
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
